{% extends 'base.html' %}

{% block add %}

    <div>
        <form method="POST">
            <label for="title">Titulo</label>
            <br/>
            <input type="text" name="title" value="{{ request.form['title'] }}"/>
            <br/>
            <label for="content">Descrição</label>
            <br/>
            <input type="text" name="content" value="{{ request.form['content'] }}"/>
            <br/>
            <button type="submit">Adicionar</button>
        </form>
    </div>

{% endblock %}